
<section>
  <app-title [tittleName]="'Modificar Cliente'"></app-title>
</section>

<section>
  <div class="px-4">
    <form action="#" method="post" [formGroup]="updateClientForm" >
      <div>
        <label for="name"  >Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Nombre" autocomplete="off" />
        @if( updateClientForm.get('name')?.invalid && updateClientForm.get('name')?.touched ){
          @if(updateClientForm.get('name')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label for="lastname" >Apellido</label>
        <input type="text" id="lastname" formControlName="lastname" placeholder="Apellido" autocomplete="off" />
        @if ( updateClientForm.get('lastname')?.invalid && updateClientForm.get('lastname')?.touched ) {
          @if (updateClientForm.get('lastname')?.hasError('required')) {
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label for="ci" >CI / NIT</label>
        <input type="text" id="ci" formControlName="ci" placeholder="CI / NIT" autocomplete="off" />
        @if( updateClientForm.get('ci')?.invalid && updateClientForm.get('ci')?.touched ){
          @if(updateClientForm.get('ci')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
          @if(updateClientForm.get('ci')?.hasError('pattern')){
            <div class="text-xs text-red-500">Formato incorrecto</div>
          }
        }
      </div>

      <div class="py-2 flex items-center space-x-4">
        <app-button [buttonName]="'Guardar'" [iconName]="'edit'"  [buttonColor]="'green'" [typeButton]="'submit'" (eventClick)="updateClient()" />
        <app-button [buttonName]="'Cerrar'" [iconName]="'close'" (eventClick)="close()" [buttonColor]="'red'" />
      </div>

    </form>
  </div>
</section>
