section{
  padding: 25px;
  display: block;
}
label{
  font-size: 15px;
}
input[type=text],input[type=number],input[type=password], input[type=date], select{
  flex: 1;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

