<section>
  <app-title [tittleName]="'Nuevo Usuario'" />
</section>
<section>
  <div class="px-4">
    <form action="#" method="post" [formGroup]="createUserForm" autocomplete="off" enctype="multipart/form-data">

      <div>
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Nombre"/>
        @if( createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched ){
          @if(createUserForm.get('name')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" formControlName="lastname" placeholder="Apellido"/>
        @if( createUserForm.get('lastname')?.invalid && createUserForm.get('lastname')?.touched ){
          @if(createUserForm.get('lastname')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label for="ci">CI</label>
        <input type="text" id="ci" formControlName="ci" placeholder="CI"/>
        @if( createUserForm.get('ci')?.invalid && createUserForm.get('ci')?.touched ){
          @if(createUserForm.get('ci')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
          @if(createUserForm.get('ci')?.hasError('pattern')){
            <div class="text-xs text-red-500">Formato incorrecto</div>
          }
        }
      </div>

      <div>
        <label form="username">Nombre de Usuario</label>
        <input type="text" id="username" formControlName="username" placeholder="Nombre de Usuario"/>
        @if( createUserForm.get('username')?.invalid && createUserForm.get('username')?.touched ){
          @if(createUserForm.get('username')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label form="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Contraseña" />
        @if ( createUserForm.get('password')?.invalid && createUserForm.get('password')?.touched ) {
          @if (createUserForm.get('password')?.hasError('required')) {
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label form="phone">Celular</label>
        <input type="number" id="phone" formControlName="phone" placeholder="Celular"/>
        @if( createUserForm.get('phonr')?.invalid && createUserForm.get('phone')?.touched ){
          @if(createUserForm.get('phone')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
          @if(createUserForm.get('phone')?.hasError('pattern')){
            <div class="text-xs text-red-500">Formato incorrecto</div>
          }
        }
      </div>

      <div>
        <label form="address">Dirección</label>
        <input type="text" id="address" formControlName="address" placeholder="Dirección" />
        @if( createUserForm.get('address')?.invalid && createUserForm.get('address')?.touched ){
          @if(createUserForm.get('address')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
      </div>

      <div>
        <label form="birthdate">Fecha de Naciemiento</label>
        <input type="date" id="birthdate" formControlName="birthdate" placeholder="Fecha de Nacimiento" />
        @if( createUserForm.get('birthdate')?.invalid && createUserForm.get('birthdate')?.touched ){
          @if(createUserForm.get('birthdate')?.hasError('required')){
            <div class="text-xs text-red-500">El campo es obligatorio</div>
          }
        }
        </div>

        <div>
          <label for="user_type">Tipo de usuario</label>
          <select id="user_type" formControlName="user_type">
            <option value="">--Seleccione--</option>
            <option value="admin">Administrador</option>
            <option value="farma">Farmacéutico</option>
            <option value="cajero">Cajero</option>
            <option value="alma">Almacenista</option>
          </select>
          @if( createUserForm.get('user_type')?.invalid && createUserForm.get('user_type')?.touched ){
            @if(createUserForm.get('user_type')?.hasError('required')){
              <div class="text-xs text-red-500">El campo es obligatorio</div>
            }
          }
        </div>

        <div>
          <label for="photo">Foto</label>
          <input type="file" id="photo" formControlName="photo" />
          @if ( createUserForm.get('photo')?.invalid ) {
            <div class="text-xs text-red-500">Seleccione una imagen!</div>
          }
        </div>

        <div class="py-2 flex items-center space-x-4">
          <app-button [buttonName]="'Guardar'" [iconName]="'save'"  [buttonColor]="'green'" [typeButton]="'submit'" [disabled]="false" (eventClick)="saveUser()" />
          <app-button [buttonName]="'Cerrar'" [iconName]="'close'" (eventClick)="close()" [buttonColor]="'red'" [disabled]="false" />
        </div>

    </form>
  </div>
</section>
