/* styles.css o spinner.component.css */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Borde exterior */
  border-top: 4px solid #3498db; /* Borde superior */
  border-radius: 50%; /* Hacerlo circular */
  width: 40px; /* Ancho */
  height: 40px; /* Alto */
  animation: spin 1s linear infinite; /* Animación */
}

/* Animación del giro */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
